.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.main-page {
  text-align: center;
}

.hero {
  position: relative;
  width: 100%;
}

.hero-image {
  width: 100%;
  height: auto;
}

.content-container {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translate(0, -50%);
  background-color: rgba(
    255,
    255,
    255,
    0.7
  ); /* Adjust transparency as needed */
  padding: 20px;
}

.content {
  max-width: 400px; /* Adjust according to your content */
  margin: 0 auto;
}

.header {
  font-size: 2.5em;
  margin-bottom: 10px;
}

.subtitle {
  font-size: 1.2em;
  margin-bottom: 20px;
}

.launch-button {
  background-color: #007bff; /* Adjust color as needed */
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 1.2em;
  cursor: pointer;
}

.launch-button:hover {
  background-color: #0056b3; /* Adjust color as needed */
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
